
.todoAppTabs .panel-heading {
    padding: 10px 0 0 0; 
    border-bottom: none;
}

.todoAppTabs, .todoAppTabs .panel-body, .todoAppTabs .panel-footer {
    background-color: transparent;
}

.lastModified {
    float: right;
    position: relative;
    top: 25px;
    font-size: xx-small;
    color: silver;
}

.nav {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header h2 {
    position: absolute;
    bottom: 65px;
    right: 16px;
    color: #dddddd;
    font-size: 65px;
    z-index: -1;
}

.header input, .header button {
    background-color:rgba(255, 255, 255, 0.5);
}

.clear-button {
    margin-left: 10px;
}

@media (max-width: 480px) { 
    .nav-tabs > li {
        float: none;
        border: 1px;
    }
    .nav-tabs > li.active > a{
        border: none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: none;
        border: none;
    }
}