
.todo-list .panel-heading {
    padding: 10px 0 0 0; 
    border-bottom: none;
}

.todo-list, .todo-list .panel-body, .todo-list .panel-footer {
    background-color: transparent;
}

.lastModified {
    float: right;
    position: relative;
    top: 25px;
    font-size: xx-small;
    color: silver;
}

.nav {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header h2 {
    position: absolute;
    bottom: 65px;
    right: 16px;
    color: #dddddd;
    font-size: 65px;
    z-index: -1;
}

.header input, .header button, .main .list-group-item {
    background-color:rgba(255, 255, 255, 0.5);
}

.clear-button {
    margin-left: 10px;
}

.todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
    outline: none;
	-webkit-appearance: none;
	appearance: none;
}

.todo-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li label {
	white-space: pre-line;
	word-break: break-all;
	padding: 10px 60px 10px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
    font-weight: normal;
}

.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
    background: none;
    border: none;
    outline: none;
}

.todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-list li:hover .destroy {
	display: block;
}

.todo-list .editing:last-child {
	margin-bottom: -1px;
}

.todo-list .completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 480px) { 
    .nav-tabs > li {
        float: none;
        border: 1px;
    }
    .nav-tabs > li.active > a{
        border: none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: none;
        border: none;
    }
}